@font-face {
    font-family: 'Montreal';
    font-style: normal;
    font-weight: normal;
    src: local('Montreal Regular'), url('../fonts/Montreal-Regular.woff') format('woff');
}
        
    
@font-face {
    font-family: 'Montreal';
    font-style: normal;
    font-weight: bold;
    src: local('Montreal Bold'), url('../fonts/Montreal-Bold.woff') format('woff');
}